extends layouts/general.pug
block hero
  .container.home
    img(src="images/bio-pic.jpg" alt="Dustin Horstmann" class="bio-pic")

block content
  h1 Title Text
  p.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae ratione cumque, exercitationem voluptate debitis doloribus, harum et vel perspiciatis minima deserunt voluptatem blanditiis voluptatibus quia odit impedit nulla, aperiam ipsa.
