
#hero {
  background-image: url("/images/space_1400.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 400px;
  .home {
    align-items: center;
    display: flex;
    height: 100%;
    .bio-pic {
      border: 3px solid aquamarine;
      border-radius: 50%;
      height: 215px;
      width: auto;
    }
  }
}